@model IEnumerable<PreventiveMaintenanceSystem.Models.Entities.Record>

@{
    ViewBag.Title = "Index";
}

<br />
<p>
    <a href="/record/add" class="btn btn-primary"><i class="fa fa-plus"></i> Add Record</a>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Building)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Floor)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MCP_1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MCP_2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sounder_1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Sounder_2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateChecked)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Remarks)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IsDeleted)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Building)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Floor)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MCP_1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MCP_2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sounder_1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Sounder_2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateChecked)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Remarks)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsDeleted)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ID })
            </td>
        </tr>
    }

</table>
