@model IEnumerable<PreventiveMaintenanceSystem.Models.Entities.SounderCheck>

@{
    ViewBag.Title = "Sounder Checker";
}
<link href="~/Content/checkerview.css" rel="stylesheet" />
<div class="container" id="sounder-index">
    <hr />
    <h3 class="font-weight-bold float-left">Sounder Inspection Record</h3>
    <div id="options">
        <p class="float-left mr-2 mt-2">Select Tower To Inspect: </p>
        <a href="/fdas/onewest" class="btn btn-primary float-left mr-2"><i class="fa fa-search"></i> One West</a>
        <a href="/fdas/twowest" class="btn btn-primary float-left"><i class="fa fa-search"></i> Two West</a>
    </div>

    <table class="table table-bordered table-striped table-responsive-lg" id="table-sounder-inspect">
        <thead class="thead-dark">
            <tr>
                <th>Options</th>
                <th>
                    @Html.DisplayNameFor(model => model.Level)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Tower)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MCP1)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.MCP2)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Sounder1)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Sounder2)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Remarks)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.InspectionDate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Inspector)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <a href="/fdas/soundercheck"><i class="fa fa-edit"></i></a>
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Level)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Tower)
                    </td>
                    <td>
                        @if (item.MCP1 == true)
                        {
                            <p>Good</p>
                        }
                        else
                        {
                            <p>No Good</p>
                        }
                    </td>
                    <td>
                        @if (item.MCP2 == true)
                        {
                            <p>Good</p>
                        }
                        else
                        {
                            <p>No Good</p>
                        }
                    </td>
                    <td>
                        @if (item.Sounder1 == true)
                        {
                            <p>Good</p>
                        }
                        else
                        {
                            <p>No Good</p>
                        }
                    </td>
                    <td>
                        @if (item.Sounder2 == true)
                        {
                            <p>Good</p>
                        }
                        else
                        {
                            <p>No Good</p>
                        }
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Remarks)
                    </td>
                    <td>
                        @{
                            var inspectdate = item.InspectionDate.ToString("MM/dd/yyyy");
                            <p>@inspectdate</p>
                        }
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Inspector)
                    </td>

                </tr>
            }
        </tbody>
    </table>
</div>
@section Scripts
{
    <script>
        $(document).ready(function () {
            $('#table-sounder-inspect').DataTable();
        });
    </script>
}
