@model List<PreventiveMaintenanceSystem.Models.Entities.SounderCheck>
@{
    ViewBag.Title = "Inspect " + ViewBag.TowerName;
    List<SelectListItem> Status = new List<SelectListItem>();
    Status.Add(new SelectListItem
    {
        Text = "Select Status",
        Value = "true"
    });
    Status.Add(new SelectListItem
    {
        Text = "Good",
        Value = "true"
    });
    Status.Add(new SelectListItem
    {
        Text = "No Good",
        Value = "false"
    });

}
<div class="container" id="sounder-add">
    @using (Html.BeginForm("SounderCheck", "FDAS", FormMethod.Post, new { @enctype = "multipart/form-data" }))
    {
        <h4 style="float: left">Inspect @ViewBag.TowerName</h4>
        <hr />
        <a href="/fdas/sounderindex" class="btn btn-warning" id="back"><i class="fa fa-list"></i> Back to List</a>
        <br />
        <div class="col-md-6" style="float: left;">
            <label>Inspector:</label>
            <input type="text" class="form-control" name="Inspector" id="Inspector">
        </div>
        <table class="table" id="tblSounder">
            @foreach (var item in ViewBag.FloorList)
            {

                <thead>
                    <tr>
                        <th>Level</th>
                        <th>MCP1</th>
                        <th>MCP2</th>
                        <th>Sounder1</th>
                        <th>Sounder2</th>
                        <th>Remarks</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td hidden>
                            <input type="text" class="form-control" name="Tower" id="Tower" value="@ViewBag.TowerName">
                        </td>
                        <td>
                            <input type="text" class="form-control" name="Level" id="Level" value="@item" readonly>
                        </td>
                        <td>
                            @Html.DropDownList("MCP1", Status, new { @class = "form-control" })
                        </td>
                        <td>
                            @Html.DropDownList("MCP2", Status, new { @class = "form-control" })
                        </td>
                        <td>
                            @Html.DropDownList("Sounder1", Status, new { @class = "form-control" })
                        </td>
                        <td>
                            @Html.DropDownList("Sounder2", Status, new { @class = "form-control" })
                        </td>

                        <td>
                            <textarea name="Remarks" id="Remarks" class="form-control"></textarea>
                        </td>
                    </tr>
                </tbody>
            }
        </table>
        <div class="form-group">
            <div class="col-md-12">
                <button class="btn btn-primary" type="submit" id="btnSave"><i class="fa fa-save"></i> Save</button>
            </div>
        </div>
    }
</div>
@section Scripts{
    <script src="~/Scripts/typeahead-inspector.js"></script>
    <script src="~/Scripts/posting-checks.js"></script>
}
